.provider-service-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#service-view-container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  max-width: 100%;
}

.provider-service-container {
  display: grid;
  background-color: aliceblue;
  border-radius: 10px;
  padding: 1em;
  margin: 1em;
  width: 100%;
}

#service-view-container input {
  font-size: 0.8em;
  margin: 0.5em 1em;
  width: 60%;
  height: 60%;
}

#control-buttons {
  grid-row: 2 / 4;
  grid-column: 2 / 3;
  display: inherit;
}

.name {
  display: block;
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  padding-bottom: 0.8em;
}

#name strong {
  font-size: 1.3em;
}

#edit-button {
  grid-row: 2 /3;
  grid-column: 2 / 3;
}

#delete-button {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}

.price {
  grid-row: 2 / 4;
  grid-column: 1 / 2;
}

#price {
  font-size: 1.2em;
}

.provider-service-edit-input-area {
  max-width: 100;
  font-size: 0.8em;
}
.provider-service-edit-input-area input {
  height: 1.5em;
}
.provider-service-edit-input-area label {
  font-size: larger;
}
