.navbar {
  width: 85%;
  border-bottom: 1px solid #e5e5e5;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
  position: static;
  padding-inline: 1em;
  border-radius: 0px 0px 10px 10px;
  background-color: #ffffff;
}

.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-items-block {
  display: flex;
  flex-direction: row;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
}

a.navbar-brand {
  align-self: center;
  white-space: normal;
  font-size: 1.5em;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
  padding-left: 0;
}

a.navbar-brand:hover {
  color: #0077cc;
}

.nav-item,
.nav-item-link,
.navbar-brand {
  margin-inline: 0.5em;
  padding: 0.5rem 1rem;
}

.nav-item,
.nav-item-link {
  padding: 0.5rem 1rem;
  margin: 0.2em;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
  border-radius: 5px;
  text-decoration: none;
}

.username {
  color: #000000;
  text-decoration: none;
  margin: auto;
}

.nav-item-link {
  color: #0077cc;
}

.nav-item:hover,
.nav-item-link:hover {
  background-color: #0077cc;
  color: #ffffff;
  border-radius: 5px;
}

a {
  color: #000000;
}

.btn {
  color: #fff;
  text-decoration: none;
  background-color: #0077cc;
  border-color: #0077cc;
  border-style: outset;
  font-size: inherit;
}

.btn:hover {
  color: #0077cc;
  background-color: #fff;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
